* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh; 
  background-color: rgb(19, 19, 19);
  color: #74916f;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

#terminal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;  
  height: 100vh; 
  padding: 10px;
  overflow-y: auto;
  font-size: 16px;
  white-space: pre-wrap;
  word-wrap: break-word; 
  border: none;
}

#output {
  white-space: pre-wrap;
  margin-bottom: 10px;
  font-size: 16px;
}

#input-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.username {
  color: #74916f;
  ;
  font-weight: bold;
}

#input {
  background-color: transparent;
  color: #74916f;
  font-weight: bold;
  border: none;
  width: 100%;
  font-size: 16px;
  outline: none;
  caret-color:#74916f;
  
  
}

.index {
  color: white;
  font-size: 18px;
}

.colored {
  color: #cf8a79 !important;
  font-weight: bold;
}

.command {
  color: #fff !important;
  text-shadow: 0 0 5px #179b00, 0 0 10px #179b00, 0 0 15px #179b00, 0 0 20px #179b00;
}

.typed-text {
  color: #74916f;  
}
